* {
  font-family: 'Roboto', sans-serif;
}

.full-page {
  display: flex;
  flex-direction: column;
  height: 200vh;
}

.header {
  display: flex;
  flex-direction: row;
  height: 150px;
   /* background-color: #383838; */
}

.left-header-container {
  display: flex;
  outline: 2px solid green;
  width: 1000px;
}

.share-container {
  display: flex;
  align-items: center;
  outline: 2px solid red;
}

.share-icon {
  display: flex;
  outline: 2px solid blue;
}

.playlist-icon-container {
  display: flex;
  align-items: center;
  outline: 2px solid red;
}

.playlist-icon {
  display: flex;
  outline: 2px solid blue;
}

.personal-videos-container {
  display: flex;
  align-items: center;
  outline: 2px solid red;
}

.personal-videos {
  display: flex;
  outline: 2px solid blue;
}



.admin-username-container {
  display: flex;
  justify-content: space-evenly;
  width: 220px;
  outline: 5px solid red;
}

.admin-username-2-win-container {
  outline: 2px solid black;
}

.win-container {
  display: flex;  
  margin-top: -20px;
  justify-content: space-evenly;
}

.win {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 4px;
  -webkit-text-stroke-width: 3px;  
} 

.globe {
  height: 50px;
  width: 50px;
  margin-top: 50px;
}

.all-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: 3px solid magenta;
}

.each-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 3px solid blue;  
}

