* {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
}

.share-container {
  display: flex;
  align-items: center;
  outline: 2px solid black;
}

.menu-playlists-container {
  display: flex;
  align-items: center;
  outline: 2px solid black;
}

.personal-videos {
  display: flex;
  align-items: center;
  outline: 2px solid black;
}

.full-page {
  display: flex;
  flex-direction: column;
  height: 200vh;
}

.all-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: 3px solid magenta;
}

.each-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 3px solid blue;  
}

