* {
  font-family: 'Roboto', sans-serif;
}

.full-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  Margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: #333333;
}

.left-header-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.share-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-top: 47px;
}

.share-icon {
  display: flex;
  font-size: 20px;
  color: white;
  margin-left: 15px;
}

.playlist-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
  width: 130px;
}

.playlist-icon {
  display: flex;
  font-size: 20px;
  color: white;
}

.personal-videos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
  width: 220px;
}

.personal-videos {
  display: flex;
  font-size: 20px;
  color: white;
}

.admin-username-container {
  display: flex;
  justify-content: space-evenly;
  width: 245px;
  font-size: 20px;
  color: #0096FF
}

.admin-username-2-win-container {
  margin-left: 550px;
  width: 235px;

}

.win-container {
  display: flex;  
  justify-content: space-around;
  margin-top: -45px;
}

.win {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 4px;
  -webkit-text-stroke-width: 3px;  
} 
.globe {
  height: 50px;
  width: 50px;
  margin-top: 50px;
}

.shares-title-container {
  display: flex;
  align-items: center;
  height: 120px;
  font-size: 25px;
  color: #5e5e5e;
  background-color: #dcdcdc;
}

h1 {
  margin-left: 15px;
}

.all-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dcdcdc;
  outline: 3px solid magenta; 
}

.each-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 330px;
  outline: 3px solid blue;  
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.share-solid-arrow {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-top: 20px;
  margin-left: 20px;
 background-color: white;
}

.views-and-arrow-container {
  display: flex;
  height: 200px;
  background-image: url("./assets/professional-woman.png");
  background-size: cover;  
}

.views-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 170px;
  margin-top: 25px;

}

.views {
  margin-top: 0px;
  color: blue;
  font-size: 22px;
  font-weight: 600;
}

.views-number {
  display: flex;
  color: blue;
  font-size: 35px;
  font-weight: 900;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  outline: 4px solid magenta;
}


.professional-man {
  background-image: url("./assets/professional-man.png");
}

.professional-older-woman {
  background-image: url("./assets/professional-older-woman.png");
}

.professional-man-1 {
  background-image: url("./assets/professional-man-1.png");
}

.professional-woman-1 {
  background-image: url("./assets/professional-woman-1.png");
}

.professional-man-2 {
  background-image: url("./assets/professional-man-2.png");
}

.professional-woman-3 {
  background-image: url("./assets/professional-woman-3.png");
}

.professional-man-3 {
  background-image: url("./assets/professional-man-3.png");
}

.recipient-and-date {
  /* display: flex; */
  flex-direction: row;

}

.recipient {
  color: #4e4e4e;
  font-size: 20px;
  font-weight: 500;
}

.date {
  margin-top: -16px;
 
  color: #5e5e5e;
}

.site-link-container {
  display: flex; 
}

.playlist-title, .attachments {
  color: #4e4e4e;
  font-weight: 500;
  font-size: 14px;
}

.name-of-playlist {
  margin-top: -14px;
  font-size: 20px;
  color: #4e4e4e;
}

.attachments-number {
  display: flex;
  outline:2px solid blue;
  font-size: 35px;
  margin-top: -12px;
  margin-bottom: 10px;
  color: #00f9ff;
}

.attachments {
  margin-top: -8px;
}